{% extends 'base.html' %}

{% block content %}

<a href="{% url 'delete' details.id %}"><button type="button" class="btn btn-info">삭제하기</button></a>
<a href="{% url 'edit' details.id %}"><button type="button" class="btn btn-info">수정하기</button></a>
<a href="{% url 'home' %}" class="btn btn-info">Home으로</a>
<hr>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{details.title}}</h4>

                {{details.pub_date}}
                <hr>
                <p class="card-text">{{details.body}}</p>
                <p>
                    <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        댓글
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        {% for comment in blogpost.comments.all %}
                        {{comment.text}}
                        {% endfor %}
                        <form action="{% url 'makecomment' details.id %}">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">내용</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    name="text"></textarea>
                            </div>
                            <input class="btn btn-info" type="submit" value="Submit">
                        </form>
                        <!-- Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}