{% extends 'base.html' %}

{% block content %}

<a href="{% url 'delete' details.id %}"><button type="button" class="btn btn-info">삭제하기</button></a>
<a href="{% url 'edit' details.id %}"><button type="button" class="btn btn-info">수정하기</button></a>
<a href="{% url 'home' %}" class="btn btn-info">Home으로</a>
<hr>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{details.title}}</h4>

                {{details.pub_date}}
                <hr>
                <p class="card-text">{{details.body}}</p>
                <p>
                    <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        댓글
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        {% for comment in details.comments.all %}
                            <div class="card" style="width: 100%;">
                                    <div class="card-body">
                                      <h5 class="card-title">{{comment.text}}</h5>
                                      <p class="card-text">{{comment.created_date}}</p>
                                      <a href="{% url 'deletecomment' details.id comment.id %}" class="btn btn-info">댓글삭제</a>
                                    </div>
                                  </div>
                                  <br>
                        {% endfor %}

                        <form action="{% url 'makecomment' details.id %}" method = "POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1"></label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    name="text"></textarea>
                            </div>
                            <input class="btn btn-info" style = "float:right;"type="submit" value="댓글작성">
                        </form>
                        <!-- Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}